# History files
.Rhistory

# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
packrat/lib*/
*.Rproj
# Latex files
*.out
*.bib
*.gz
*.aux
*concordance.*
.DS_Store

